# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Secrets
.env
server/.env

# Build outputs
dist/
client/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db
